@import "./mixin.scss";
@import "./base.scss";

.wrapper {
    .main-sidebar {
        .sidebar {
            .user-panel {
                .image {
                    margin-right: 10px;
                    img {
                        width: 30px;
                        height: 30px;
                    }
                }
            }
            .mt-2 {
                .nav-sidebar {
                    .nav-item {
                        form {
                            button {
                                outline: none;
                                border: none;
                                background: none;
                                padding: 0;

                                i {
                                    margin-right: 10px;
                                }

                                i,
                                p {
                                    color: #c2c7d0;
                                }
                            }
                        }
                        a {
                            i {
                                margin-right: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
    .content-wrapper {
        .notification {
            top: 75px;
            .alert {
                strong {
                    color: white;
                }
            }
        }
    }
}

.layout-template {
    position: relative;
    .card {
        .card-header {
            width: 100%;
            @include centerVertical;
            justify-content: space-between;
            .card-tools {
                @include centerVertical;
                flex: 1;
                justify-content: flex-end;

                a:first-child {
                    margin-right: 20px;
                }

                .item-tools + .item-tools {
                    margin-left: 20px;
                }

                .form-search {
                    width: 30%;
                    margin-right: 20px;
                    position: relative;
                    input {
                        width: 100%;
                        padding: 8px 12px;
                        border: 1px solid #d4d4d4;
                        border-radius: 5px;
                    }
                    button {
                        position: absolute;
                        top: 8px;
                        right: 8px;
                        border: none;
                        background: none;
                    }
                }

                .select-item {
                    padding: 8px 12px;
                    border: 1px solid #d4d4d4;
                    border-radius: 5px;
                }
            }
        }
        .card-body {
            table {
                border: 1px solid #dee2e6;
            }
        }
        .card-footer {
            @include centerVertical;
            justify-content: center;
            .paginate {
                @include paginate;
            }
        }
    }
}

.layout-blogs {
    .card {
        .card-body {
            table {
                text-align: center;
                overflow-y: scroll;
                tr {
                    .status-blog {
                        button:hover {
                            color: white;
                            opacity: 0.8;
                        }
                    }
                    .image-blog {
                        img {
                            width: 80%;
                            height: 120px;
                            border-radius: 8px;
                            margin: 0 auto;
                        }
                    }
                    .status-blog {
                        a {
                            font-size: 12px;
                        }
                        .badge-warning {
                            color: white;
                        }
                    }
                    .interactive {
                        height: 100%;
                        border: none;
                        font-size: 20px;
                        p {
                            @include centerAll;
                            .fa-heart {
                                color: red;
                            }
                            .fa-comment {
                                color: blue;
                            }
                            i {
                                margin-right: 8px;
                            }
                        }
                    }
                    .options-blog-item {
                        padding-right: 12px;
                        form {
                            @include centerVertical;
                            justify-content: space-evenly;
                            flex-wrap: wrap;
                        }
                    }
                }
            }
        }
    }
}

.layout-categories {
    .card {
        .card-body {
            table {
                text-align: center;
            }
        }
    }
}

.layout-users {
    .card {
        .card-body {
            table {
                text-align: center;
                overflow-x: auto;
                tr {
                    td {
                        &.avatar-user {
                            width: 100px;
                            height: 100px;
                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                                border-radius: 50%;
                            }
                        }
                        &.status-role-user {
                            button {
                                padding: 5px 10px;
                                border-radius: 5px;
                                color: white;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .layout-blogs {
        .card {
            .card-header {
                flex-direction: column;
                align-items: flex-start;
                .card-tools {
                    margin-top: 20px;
                    justify-content: flex-start;
                    .form-search {
                        width: 80%;
                    }
                }
            }
            .card-body {
                table {
                    tr {
                        .text-table-title {
                            font-size: 14px;
                        }
                        .image-blog {
                            img {
                                height: 80px;
                            }
                        }
                        .status-blog {
                            font-size: 14px;
                        }
                        .hide-mobile {
                            display: none;
                        }
                    }
                }
            }
        }
    }
    .layout-users {
        .card {
            .card-body {
                table {
                    font-size: 12px;
                    tr {
                        td {
                            &.avatar-user {
                                width: 50px;
                                height: 70px;
                            }
                            &.status-role-user {
                                button {
                                    font-size: 10px;
                                    padding: 3px 5px;
                                    border-radius: 5px;
                                }
                            }
                        }
                        .created-user {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}

