$color-primary: #C40000;
$color-blue-main: #007BFF;
$color-btn: #770303;
$color-error: #DC3545;
$color-cancel: #B0B0B0;
$color-success: #18B727;
$text-color-black: #212121;
$text-color-link: #007BFF;
$text-color-gray: #AFAFAF;
$text-color-blog: #211E3B;
$text-upload-file: #87B6E7;
$border-color-gray-v1: #DEDEDE;
$border-color-gray-v2: #E4E4E4;
$border-color-default: #CCCCCC;
$bg-gray-v1: #D9D9D9;
$bg-gray-v2: #ABB1AB;

body {
    position: relative;
    box-sizing: border-box;
    input, h1, h2, h3, h4, p{
        margin: 0;
    }
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    a {
        text-decoration: none;
    }
    small {
        color: red;
        margin-bottom: 5px;
    }
}

::-webkit-input-placeholder {
    color: $text-color-gray;
}

.hidden {
    display: none;
}

// component
.box-component {
    .box-delete {
        overflow: hidden;
        position: fixed;
        inset: 0;
        z-index: 3;
        transition: all 0.2s linear;
        background: rgba(72, 72, 72, 0.4);
        display: none;

        .layout {
            position: absolute;
            top: 40%;
            left: 40%;
            width: 400px;
            background-color: white;
            border-radius: 10px;
            box-shadow: 8px 8px 8px 0px rgba(0, 0, 0, 0.04);

            .header-box {
                padding: 20px;
                @include centerVertical;
                justify-content: space-between;
                border-bottom: 1px solid $border-color-default;

                p {
                    @include fontNoto(700);
                    font-size: 23px;
                }
                i {
                    font-size: 20px;
                    &:hover {
                        @include hover;
                    }
                }
            }
            .question-box {
                @include centerAll;
                padding: 20px;
                border-bottom: 1px solid $border-color-default;
                
                p {
                    font-size: 20px;
                }
            }
            .box-btn {
                padding: 10px 20px 10px 10px;
                float: right;
                .btn {
                    color: white;
                    padding: 6px 10px;
                    border-radius: 4px;
    
                    &.btn-cancel {
                        margin-left: 20px;
                        border: 1px solid $color-cancel;
                        background-color: $color-cancel !important;
                    }
                    &.btn-delete {
                        border: 1px solid $color-error;
                        background-color: $color-error !important;
                    }
                    &:hover {
                        opacity: 0.8;
                    }
                }
            }
        }
    }
}

.slick-dots {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 1rem 0;
    list-style-type: none;
    li {
        margin: 0 0.25rem;
    }
    button {
        display: block;
        width: 1rem;
        height: 1rem;
        padding: 0;
        border: none;
        border-radius: 100%;
        background-color: #d9d9d9;
        text-indent: -9999px;
    }
    li.slick-active button {
        background-color: #801616;
    }
}

.notification {
    position: fixed;
    z-index: 3;
    min-width: 100px;
    max-width: 50%;
    max-height: 100px;
    top: 130px;
    right: 10px;
    .alert {
        margin: 0;
        padding: 15px 20px;
        box-shadow: 0px 1px 14px rgba(0, 0, 0, 0.25);
        @include centerVertical;
        strong {
            @include fontNoto(700);
            font-size: 18px;
        }
    }
}
