.hidden {
    display: none;
}
.body {
    .layout-detail {
        margin: 156px 110px 60px 100px;
        .layout-detail-item {
            .title {
                text-align: center;
                @include fontNotoBold;
                color: #212121;
                font-size: 24px;
            }
            .line-title {
                width: 63px;
                height: 3px;
                margin: 18px auto 30px;
                background-color: #747474;
            }
        }
        .info-blog {
            .dashboard {
                height: 23px;
                @include centerVertical;
                a, p {
                    line-height: 23px;
                    color: $text-color-grey;
                    font-size: 16px;
                }   
                p:last-child {
                    @include fontNotoBold;
                }
                i {
                    color: $text-color-grey;
                    font-size: 12px;
                    margin: 3px 5px 0;            
                }
                a:hover {
                    color: $color-primary;
                    font-weight: bold;
                }
            }
            .detail-blog {
                h3 {
                    color: #000;
                    @include fontNotoBold;
                    font-size: 18px;
                    margin-top: 40px;
                }
                .header-blog {
                    margin-top: 40px;
                    height: 40px;
                    position: relative;
                    @include centerVertical;
                    justify-content: space-between;
                    .auth {
                        @include centerVertical;
                        img {
                            width: 36px;
                            height: 36px;
                            margin-right: 8px;
                            border-radius: 50%;
                        }
                        .info {
                            display: flex;
                            flex-direction: column;
                            p {
                                color: #000;
                                font-size: 12px;
                                font-family: "Noto Sans JP";
                                font-weight: 500;
                            }
                            p:last-child {
                                color: #A7A7A7;
                                font-size: 11px;
                            }
                        }
                    }
                    .control {
                        @include centerVertical;
                        justify-content: space-between;
                        .item-status {
                            height: 30px;
                            padding: 3px 8px;
                            font-size: 15px;
                            font-family: "Noto Sans JP";
                            font-weight: 400;
                            line-height: 23px;
                            color: #fff;
                            border: none;
                            border-radius: 3px;
                        }
                        .approved {
                            background-color: $color-success;
                        }
                        .update-blog {
                            background-color: orange;
                            margin-left: 18px;
                        }
                        .not-approved {
                            background-color: $background-btn-not;
                        }
                        .delete-blog {
                            margin-left: 18px;
                            background-color: $color-error;
                        }
                    }
                }
                .img-blog {
                    margin-top: 40px;
                    width: 100%;
                    height: 555px;
                    overflow: hidden;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                .content {
                    margin-top: 20px;
                    p {
                        color: #747474;
                        font-size: 14px;
                        font-family: "Noto Sans JP";
                    }
                }
                .info-interactive {
                    margin-top: 15px;
                    @include centerVertical;
                    justify-content: flex-start;
                    .interactive-item {
                        @include centerVertical;
                        .total-comment, .total-like {
                            font-size: 23px;
                            line-height: 23px;
                            margin-left: 5px;
                        }
                        i {
                            color: red;
                            font-size: 25px;
                            height:100%;
                        }
                        .fa-comment {
                            color: blue;
                        }
                        i:hover {
                            transform: scale(1.1);
                        }
                    }
                    .like {
                        margin-right: 20px;
                    }
                }
            }
        }
        .related {
            margin-top: 55px;
            .list-blog-related {
                width: 100%;
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                .item-blog {
                    width: 300px;
                    margin-right:36px;
                    border-radius: 8px;
                    border: 1px solid #CCC;
                    background: #FFF;
                    overflow: hidden;
                    .img-blog {
                        width: 100;
                        height: 300px;
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                }
                .item-blog:last-child {
                    margin-right: 0;
                }
                .title-blog {
                    width: 100%;
                    text-align: center;
                    padding: 15px 21px 35px;
                    @include fontNotoBold;
                    font-size: 17px;
                    line-height: 28px;
                }
            }
        }
        .comments {
            margin-top: 81px;
            .send-comment {
                position: relative;
                @include centerVertical;
                height: 80px;
                img {
                    border-radius: 50%;
                    width: 48px;
                    height: 48px;
                    margin-right: 17px;
                }
                textarea {
                    flex: 1;
                    padding: 20px;
                    border-radius: 4px;
                    border: 1px solid #E1E1E1;
                    background: #FFF;
                }
                textarea::placeholder {
                    font-size: 20px;
                }
                button {
                    @include fontNotoRegular;
                    color: white;
                    background-color: $color-success;
                    margin-left: 10px;
                    padding: 8px 12px;
                    border-radius: 4px;
                    border: 1px solid $border-btn;
                }
            }
            .all-comment {
                .item-comment {
                    margin-top: 22px;
                    display: flex;
                    position: relative;
                    img {
                        border-radius: 50%;
                        width: 48px;
                        height: 48px;
                        margin-right: 17px;
                    }
                    .info-comment {
                        flex: 1;
                        h3 {
                            margin-top: 6px;
                            @include fontNotoBold;
                            font-size: 24px;
                            height: 35px;
                        }
                        p {
                            margin-top: 6px;
                        }
                        .content-comment {
                            @include fontNotoRegular;
                            color: $text-color-black;
                            line-height: 28px;
                        }
                        .time-comment {
                            @include fontNotoRegular;
                            color: $text-color-grey;
                        }
                        .form-edit-comment {
                            margin-top: 6px;
                            @include centerVertical;
                            display: none;
                            .item-form-edit {
                                padding: 8px 20px;
                                border-radius: 4px;
                                border: 1px solid #E1E1E1;
                            }
                            textarea {
                                width: 100%;
                                line-height: 25px;
                                background: #FFF;
                                margin-right: 10px;
                            }
                            button {
                                background-color: $background-btn-primary;
                                color: white;
                            }
                        }
                    }
                    .icon-option-comment {
                        font-size: 25px;
                        position: absolute;
                        top: 10px;
                        right: 0;
                    }
                    .icon-option-comment:hover {
                        @include hover;
                    }
                    .box-option-comment {
                        position: absolute;
                        top: 10px;
                        right: 15px;
                        @include centerAll;
                        flex-direction: column;
                        background-color: #dfe4ea;
                        cursor: pointer;
                        display: none;
                        border-radius: 5px;
                        .item-option-comment {
                            text-align: center;
                            width: 100%;
                            padding: 10px 20px;
                            color: $text-color-black;
                        }
                        button {
                            background: none;
                            border: 0;
                        }
                        .item-option-comment:hover {
                            @include hover;
                            font-weight: 500;
                        }
                    }
                    .box-option-comment::after {
                        content: "";
                        border: 15px solid;
                        border-color: transparent transparent transparent #dfe4ea ;
                        position: absolute;
                        top: 0;
                        left: 90%;
                    }
                }
            }
            .hidden {
                display: none;
            }
            .show-all-comment {
                display: inline-block;
                @include fontNotoBold;
                font-size: 18px;
                color: $text-color-grey;
                margin: 15px 0 0 5px;
                padding: 0 3px 3px;
                border-bottom: 1px solid transparent;
            }
            .show-all-comment:hover {
                cursor: pointer;
                border-color: $text-color-grey;
            }
        }
    }
    .box-delete {
        overflow: hidden;
        position: fixed;
        inset: 0;
        z-index: 3;
        transition: all 0.2s linear;
        background: rgba(72, 72, 72, 0.40);
        display: none;
        .layout {
            position: absolute;
            top: 185px;
            left:467px;
            width: 542px;
            background-color: white;
            box-shadow: 8px 8px 8px 0px rgba(0, 0, 0, 0.04);
            .header-box {
                @include centerVertical;
                justify-content: space-between;
                border-bottom: 1px solid $border-color-default;
                p {
                    @include fontNotoBold;
                    font-size: 20px;
                    padding: 16px 0 16px 28px;
                }
                i {
                    margin: 10px 11px auto 0;
                }
                i:hover {
                    @include hover;
                }
            }
            .question-box {
                height: 118px;
                @include centerAll;
                p {
                    @include fontNotoRegular;
                }
            }
            .form-request {
                padding: 12px 53px 16px;
                border-top: 1px solid $border-color-default;
                @include centerVertical;
                justify-content: space-between;
                div, button {
                    color: #FFF;
                    font-size: 20px;
                    font-family: "Noto Sans JP";
                    padding: 4px 10px 7px;
                    border-radius: 4px;
                }
                .btn:hover {
                    opacity: 0.8;
                }
                .btn-cancel {
                    border: 1px solid $color-cancel;
                    background: $color-cancel;
                }
                .btn-delete {
                    border: 1px solid $color-error;
                    background: $color-error;
                }
            }
        }
    }
    .slick-dots {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 1rem 0;
        list-style-type: none;
        li {
            margin: 0 0.25rem;
        }
        button {
            display: block;
            width: 1rem;
            height: 1rem;
            padding: 0;
            border: none;
            border-radius: 100%;
            background-color: #D9D9D9;
            text-indent: -9999px;
        }
        li.slick-active button {
            background-color: #801616;
        }
    }
}
