@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;200;300;400;500;600;700;800;900&display=swap");

@font-face {
    font-family: "SVN-Gilroy";
    src: url("../fonts/SVN-Gilroy\ Regular.otf");
}
@font-face {
    font-family: "SVN-Gilroy-Bold";
    src: url("../fonts/SVN-Gilroy\ Bold.otf");
}
@mixin fontNotoBold {
    font-family: "Noto Sans JP";
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 22px;
    color: $text-color-black;
}
@mixin fontNotoRegular {
    font-family: 'Noto Sans JP';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
}
