.img-title {
    width: 100%;
    height: 519px;
    img {
        width: 100%;
        height: 100%;
    }
}
.list-blog {
    padding: 0;
    margin: 72.5px 101px 96px;
    .title {
        @include centerVertical;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 38px;
        h1 {
            @include centerVertical;
            font: normal 700 50px/72px "Noto Sans JP";
        }
        select {
            border-radius: 4px;
            padding: 7px 0 11px 15px;
            width: 144px;
            height: 40px;;
            font-weight: 500;
        }
    }
    .all-item {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        h2 {
            width: 100%;
            text-align: center;
            margin: 0 auto 40px;

        }
        .item-blog {
            width: calc(33.333333333% - 20px);
            border-radius: 8px;
            margin: 0 30px 70px 0;
            color: #211E3B;
            background: #FFFFFF;
            overflow: hidden;
            border: 1px solid #CCCCCC;
            .item-blog-img {
                width: 100%;
                height: 275px;
                overflow: hidden;
                margin-bottom: 25px;
                cursor: pointer;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                    border-radius: 8px 8px 0px 0px;
                    transition: transform 0.3s;
                }
                img:hover {
                    transform: scale(1.05);
                }
            }
            .item-blog-content {
                margin: 0 13px 0 20px;
                border-radius: 0 0 6px 6px;
                .info {
                    height: 31px;
                    margin: 0 0 15px 0;
                    @include centerVertical;
                    justify-self: start;
                    .author {
                        @include centerVertical;
                        img {
                            width: 24px;
                            height: 24px;
                            margin-right: 4px;
                        }
                        p {
                            @include fontInfoImg;
                            font-size: 18px;
                            line-height: 30px;
                        }
                    }
                    .time {
                        @include centerVertical;
                        img {
                            width: 24px;
                            height: 24px;
                            margin: 0 8px 0 21px;
                        }
                        p {
                            @include fontInfoImg;
                            font-size: 18px;
                            line-height: 30px;
                        }
                    }
                }
                .text-detail {
                    p:first-child {
                        font-family: "SVN-Gilroy-Bold";
                        margin-bottom: 10px;
                        font-size: 20px;
                        line-height: 28px;  
                    }
                    p {
                        font-family: "SVN-Gilroy";
                        margin-bottom: 29px;
                        font-size: 18px;
                        font-weight: 400;
                        line-height: 25px;
                        letter-spacing: 0em;
                    }
                }
                .text-link {
                    .btn-details {
                        @include centerVertical;
                        width: 137px;
                        height: 40px;
                        font-family: "SVN-Gilroy";
                        margin-bottom: 21px;
                        border: 1px solid $border-btn;
                        padding: 10px 20px 10px 15px ;
                        transition: all 0.3s linear;
                        color: $color-primary;
                        a {
                            width: 76px;
                            height: 20px;
                            font-weight: 400;
                            font-size: 14px;
                            line-height: 20px;
                            margin-right: 8px;
                            color: $color-primary;
                        }
                    }
                    .btn-details:hover {
                        border: 1px solid white;
                        background-color: $color-primary;
                        svg path{
                            stroke: white;
                        }
                        a {
                            color: white;
                        }
                    }
                }
            }
        }
        .item-blog:nth-child(3n){
            margin-right: 0;
        }
    }
    .paginate {
        @include paginate;
    }
}

