.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    .container-header {
        width: 100%;
        margin: 0 !important;
        position: absolute;
        top: 0;
        background-color: rgba(255, 255, 255, 0.65);
        padding: 30px 0 31px;
        box-shadow: 0px 1px 14px rgba(0, 0, 0, 0.25);
        transition: all .8s linear;
        .header-mobile {
            display: none;
        }
        .header-desktop {
            @include centerVertical;
            justify-content: space-between;
            flex-wrap: wrap;
            padding: 0 102px;
            .header-left {
                @include centerVertical;
                .logo-header {
                    margin-right: 33px;
                    cursor: pointer;
                }
                .search-header {
                    position: relative;
                    width: 374px; 
                    @include centerVertical;
                    input {
                        width: 100%;
                        padding: 13px 13px 13px 20px;
                        border: 1px solid #D4D4D4;
                        border-radius: 5px;
                    }
                    button {
                        background: none;
                        border: none;
                        position: absolute;

                        right: 0;
                        margin : 13px ;
                        i {
                            color: #A7A7A7;
                            width: 19px;
                            height: 19px;
                        }
                    }
                    button:hover {
                        @include hover;
                    }
                }
            }
            .header-right {
                @include centerVertical;
                justify-content: flex-end;
                .header-tag {
                    @include centerVertical;
                    justify-content: flex-end;
                    margin-right: 106px;
                    a:first-child {
                        margin-right:  27px;
                    }
                    a.active {
                        padding: 2px 11px 2px 11px;
                        height: 31px;
                        font-size: 15px;
                        font-weight: 500;
                        border: 0;
                        border-radius:3px;
                        outline: none;
                        background-color: $color-btn;
                        color: white;
                    }
                    a {
                        height: 24px;
                        @include fontNoto(700);
                        font-weight: 700;
                    }
                    a.active:hover {
                        color: white;
                    }
                    a:hover {
                        @include hover;
                    }
                }
                .header-account {
                    position: relative;
                    @include centerVertical;
                    a {
                        @include fontNoto(700);
                    }
                    a:hover {
                        @include hover;
                    }
                    a + a {
                        margin-left: 32px;
                    }
                    .avatar {
                        margin-left: 17px;
                        img {
                            width: 27px;
                            height: 27px;
                            border-radius: 50%;
                        }
                        form {
                            margin-bottom: 0;
                            ul {
                                min-width: 150px;
                                position: absolute;
                                top: 100%;
                                right: 0;
                                z-index: 3;
                                margin-top: 12px;
                                background-color: white;
                                border-radius: 5px;
                                overflow: hidden;
                                display: none;
                                li {
                                    width: 100%;
                                    text-align: center;
                                    margin: 5px 0;
                                    padding: 0 10px;
                                    a, button{
                                        @include fontNoto(700);
                                    }
                                    button {
                                        background: none;
                                        border: none;
                                    }
                                }
                                li:hover {
                                    a, button {
                                        @include hover;
                                    }
                                }
                            }
                        }
                    }
                    .connect-menu {
                        border: 15px solid;
                        border-color: transparent transparent white transparent;
                        position: absolute;
                        top: 50%;
                        right: 0;
                        display: none;
                    }
                    .avatar:hover ul {
                        @include centerAll;
                        flex-direction: column;
                    }
                    .avatar:hover .connect-menu {
                        display: block;
                    }
                }
                
            }
        }
    }
    .header-scrolled {
        top: -122px;
    }
}

.menu-mobile, .search-mobile {
    display: none;
    width: 0%;
    z-index: 2;
}

footer {
    position: absolute;
    left: 0;
    right: 0;
    background-color: #000000;
    p {
        @include fontNoto;
        color: white;
        height: 20px;
        text-align: center;
        margin: 37px auto 37px;
    }
}
